/* 
 * Everything in here can be changed, 
 * except the format of the card! 
 * 
 * Card-Format: 910px * 590px
 */

.card {
  /* mimicks a quartet card game card size */
  width: 430px;
  height: 665px;

  /* centering it */
  margin: 10px auto;

  /* background-color just here to make the card visible, can be changed */
  background-color: #555555;

  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;
}

.headimage {
  background-color: rgb(207, 194, 2);

  margin: 10px auto;
}
.name {
  background-color: rgb(42, 161, 165);

  margin: 10px auto;
}

.info {
  background-color: blueviolet;

  margin: 10px auto;
}

.description {
  background-color: rgb(30, 214, 6);

  margin: 10px auto;
}

.abilities {
  background-color: rgb(42, 99, 165);

  margin: 10px auto;
}

.skill {
  background-color: brown;

  margin: 10px auto;
}