/* 
 * Everything in here can be changed, 
 * except the format of the card! 
 * 
 * Card-Format: 910px * 590px
 */
 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');




hmtl,body{
  font-family: 'Raleway', sans-serif;
}

.card {
  /* mimicks a quartet card game card size */
  width: 430px;
  height: 665px;

  /* centering it */
  margin: 10px auto;

  /* background-color just here to make the card visible, can be changed */
  background-color: #555555;

  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;

  overflow: hidden;
}

.headimage {
  width: 430px;
  height: 300px;

  background-color: rgb(207, 194, 2);

}

.avatar {
  width: 380px;

  display: flex;
  justify-content: center;

  background-color: aqua;

  margin: 0 auto;

  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  width: 100%;
  height: 65px;

  background-color: rgb(42, 161, 165);
}

.name h1{
  margin: 0;
  text-align: center;
}

.info {
  width: 100%;
  height: 300px;

  background-color: blueviolet;

}

.description {
  width: 300px;
  height: 200px;

  background-color: rgb(30, 214, 6);

  margin: 50px 0 50px 0;

  float: left;
}

.descriptioncontainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.descriptionparagraph {
  display: flex;
}

.abilities {
  width: 60px;
  height: 300px;

  background-color: rgb(52, 99, 255);

  float: right;
}

.skill {
  width: 50px;
  height: 50px;

  background-color: rgb(206, 0, 0);

  margin: 20px 0 20px 5px;
}