/* 
 * Everything in here can be changed, 
 * except the format of the card! 
 * 
 * Card-Format: 910px * 590px
 */

.card {
  /* mimicks a quartet card game card size */
  width: 430px;
  height: 665px;

  /* centering it */
  margin: 10px auto;

  /* background-color just here to make the card visible, can be changed */
  background-color: #555555;

  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;
}

.headimage {
  width: 410px;
  height: 300px;

  margin: 10px 10px 10px 10px;

  background-color: rgb(207, 194, 2);
}

.avatar {
  width: 380px;

  display: flex;
  justify-content: center;

  background-color: aqua;
}

.name {
  width: 100%;
  height: 65px;

  background-color: rgb(42, 161, 165);
}

.info {
  width: 100%;
  height: 200px;

  background-color: blueviolet;

  margin: 10px auto;
}

.description {
  width: 300px;

  background-color: rgb(30, 214, 6);

  float: left;
}

.abilities {
  width: 30px;

  background-color: rgb(52, 99, 255);

  float: right;
}

.skill {
  background-color: rgb(206, 0, 0);
  margin: 2px;
}